::-webkit-scrollbar {
	display: none
}

body {
	background-color: #3d3d3d;
	font-size: 14;
	overflow-y: hidden;
	overflow-x: hidden;
	color: #fff
}

.item1 {
	grid-area: header;
	height: 30px;
	width: 100vw;
	display: flex;
	justify-content: right;
	align-items: center;
	background-color: #313131;
	color: #fff;
	-webkit-app-region: drag
}

.item2,.item3 {
	height: calc(100vh - 30px);
	display: flex
}

.item2 {
	grid-area: menu;
	width: 100px;
	justify-content: center;
	padding: 5px;
	background-color: #3f3f3f;
	font-size: 14px
}

.item3 {
	grid-area: main;
	width: calc(100vw - 100px);
	justify-content: left;
	padding: 15px;
	/* background-color: #fff; */
	/* background-image: url(../image/mcbg3.png); */
	background-color: rgb(37, 37, 37);
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto
}

.item3 header-txt {
	display: flex;
	justify-content: center
}

.grid-container {
	display: grid;
	grid-template-areas: "header header header header header header""menu main main main main main""menu main main main main main";
	width: 100%;
	height: 100%
}

.header-nav {
	flex-direction: row-reverse;
	justify-content: space-evenly;
	width: 100px;
	height: 30px
}

.header-nav button,.tab box,.tab button {
	display: block;
	background-color: inherit;
	color: #fff;
	width: 100%;
	border: 0;
	outline: 0;
	cursor: pointer;
	transition: .3s
}

.header-nav,.header-nav button {
	-webkit-app-region: no-drag;
	display: flex
}

.header-nav button {
	align-items: center
}

.header-nav button:hover {
	-webkit-app-region: no-drag;
	background-color: #696969
}

.header-options {
	color: #fff
}

#tab-tempbox {
	outline: 0
}

#triangle-topleft {
	background-image: -webkit-linear-gradient(30deg,#2b2b2b 50%,#3f3f3f 50%)
}

.tab {
	display: flex;
	flex-direction: column;
	justify-content: space-between
}

.tab box,.tab button {
	padding: 15px 10px;
	text-align: left
}

.tab button:hover {
	background-color: #2b2b2b
}

.tab button.active {
	background-color: #313131
}

.tab box {
	margin-top: auto;
	pointer-events: none
}

.tabcontent {
	float: left;
	width: 100vw;
	border-left: none;
	height: 100vh;
	-webkit-animation: fadeEffect 1s;
	animation: fadeEffect 1s;
	color: #000
}

.tab-grid-container {
	width: 100%;
	height: calc(100% - 55px);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly
}

.tab-item1,.tab-item2 {
	width: 100%;
	display: flex;
	padding: 20px;
	color: #fff;
	border-radius: 5px;
	position: relative;
	z-index: 1;
	background: inherit
}

.tab-item1 {
	height: 15%;
	align-items: center;
	justify-content: center;
	overflow: hidden
}

.tab-item1::before,.tab-item2::before {
	content: "";
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(54, 54, 54);
	margin: -20px
}

.tab-item2 {
	height: 75%;
	justify-content: left
}

#scrollable,.tab-item2 {
	overflow: hidden
}

.item2-content-townless {
	white-space: pre-line
}

.townless-container {
	display: flex;
	justify-content: space-evenly
}

.townless-sub-container {
	display: flex;
	flex-direction: column
}

.townless-column,.townless-sub-column-1 {
	display: flex;
	justify-content: left;
	flex-grow: 1;
	width: auto
}

.townless-sub-column-1 {
	justify-content: center
}

.townless-sub-column-2 {
	flex-grow: 1
}

.townless-sub-column-2,.townless-sub-sub-column-2 {
	display: flex;
	justify-content: left;
	width: auto
}

.copy-btn2 {
	text-align: center;
	justify-content: center;
	font-size: 16;
	width: 150px;
	height: 30px;
	margin: 5px;
	border: 0;
	outline: 0;
	cursor: pointer;
	color: #fff;
	background-color: rgba(0,0,0,.2)
}

.copy-btn2:hover {
	background: rgba(46,46,46,.14)
}

.copy-btn2:active {
	background: rgba(46,46,46,.24)
}

#nation-tab,#resident-tab,#town-tab,#track-tab {
	overflow-x: hidden;
	width: 100%;
	height: 100%
}

.search,.searchTerm {
	width: 100%;
	position: relative
}

.search {
	display: flex
}

.searchTerm {
	border: 3px solid #2b2b2b;
	border-right: none;
	padding: 5px;
	height: 40px;
	border-radius: 5px 0 0 5px;
	outline: 0;
	color: #fff;
	box-shadow: 0 0 1rem 0 rgba(0,0,0,.5);
	z-index: 1;
	background: inherit;
	overflow: hidden
}

.searchTerm::placeholder {
	color: #fff
}

.searchTerm:focus {
	color: #fff
}

.searchButton {
	width: 40px;
	height: 40px;
	border: 1px solid #2b2b2b;
	background: #2b2b2b;
	text-align: center;
	color: #fff;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px
}

.wrap {
	width: 30%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%)
}